@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --spotify-green: #1DB954;
    --spotify-lightgreen: #1ed760;
    --spotify-black: #191414;
    --spotify-gray: #282828;
    --spotify-lightgray: #3e3e3e;
    --spotify-darkgray: #181818;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}


.bg-spotify-green { background-color: var(--spotify-green); }
.bg-spotify-black { background-color: var(--spotify-black); }
.bg-spotify-gray { background-color: var(--spotify-gray); }
.bg-spotify-lightgray { background-color: var(--spotify-lightgray); }
.bg-spotify-darkgray { background-color: var(--spotify-darkgray); }

.text-spotify-green { color: var(--spotify-green); }

.hover\:bg-spotify-lightgray:hover { background-color: var(--spotify-lightgray); }


@keyframes glow {
  0% {
    box-shadow: 0 0 5px rgba(34, 197, 94, 0.5);
  }
  50% {
    box-shadow: 0 0 30px rgba(34, 197, 94, 0.8);
  }
  100% {
    box-shadow: 0 0 5px rgba(34, 197, 94, 0.5);
  }
}
.animate-glow {
  animation: glow 2s ease-in-out;
}


/* For marquee */
@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

@keyframes marquee-reverse {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0);
  }
}

.animate-marquee {
  animation: marquee 60s linear infinite;
  display: flex;
  width: max-content;
}

.animate-marquee-reverse {
  animation: marquee-reverse 60s linear infinite;
  display: flex;
  width: max-content;
}

.animate-marquee:hover,
.animate-marquee-reverse:hover {
  animation-play-state: paused;
}